<div class="container">
  <div class="page-footer">
    <p class="copyright-text">&copy;2021 | All Rights Reserved |</p>
    <p class="text-company">
      Developed with by <i class="material-icons icon-favorite">favorite</i> GoIT Students
    </p>
    <ul class="nav">
      <li>
        <a href="">Our Team Developers</a>
        <ul class="nav__sub-menu">
          <div class="modal-container">
            <input id="modal-toggle" type="checkbox" />
            <label class="modal-btn" for="modal-toggle">Oleg Yamhurov</label>
            <label class="modal-backdrop" for="modal-toggle"></label>
            <div class="modal-content">
              <label class="modal-close" for="modal-toggle">&#x2715;</label>
              <li class="teamcard-list-item">
                <img
                  src="./images/photo/Oleg.jpg"
                  alt="teammate photo"
                  class="team-card-list-img"
                />
                <p class="team-discription">Team Lead</p>
                <a class="team-contact" href="mailto:yamhurov.oleh1@gmail.com"
                  >yamhurov.oleh1@gmail.com</a
                >
              </li>
              <label class="modal-content-btn" for="modal-toggle">OK</label>
            </div>
          </div>
          <div class="modal-container">
            <input id="modal-toggle" type="checkbox" />
            <label class="modal-btn" for="modal-toggle">Zoryana Kuziv</label>
            <label class="modal-backdrop" for="modal-toggle"></label>
            <div class="modal-content">
              <label class="modal-close" for="modal-toggle">&#x2715;</label>
              <li class="teamcard-list-item">
                <img
                  src="./images/photo/Zoryana.jpg"
                  alt="teammate photo"
                  class="team-card-list-img"
                />
                <h2 class="team-name">Zoryana <br />Kuziv</h2>
                <p class="team-discription">Scrum Master</p>
                <a class="team-contact" href="mailto:zoryana.kuziv1@gmail.com"
                  >zoryana.kuziv1@gmail.com</a
                >
              </li>
              <label class="modal-content-btn" for="modal-toggle">OK</label>
            </div>
          </div>
          <div class="modal-container">
            <input id="modal-toggle" type="checkbox" />
            <label class="modal-btn" for="modal-toggle">Sergey Michaylichenko</label>
            <label class="modal-backdrop" for="modal-toggle"></label>
            <div class="modal-content">
              <label class="modal-close" for="modal-toggle">&#x2715;</label>
              <li class="teamcard-list-item">
                <!-- <img
                  src="./images/photo/Sergey.jpeg"
                  alt="teammate photo"
                  class="team-card-list-img"
                /> -->
                <p class="team-discription">Developer</p>
                <!-- Добавишь иконку эмайла -->
                <a class="team-contact" href="mailto:4eptnk1@gmail.com">4eptnk@gmail.com</a>
              </li>
              <label class="modal-content-btn" for="modal-toggle">OK</label>
            </div>
          </div>
          <div class="modal-container">
            <input id="modal-toggle" type="checkbox" />
            <label class="modal-btn" for="modal-toggle">Irina Samarina</label>
            <label class="modal-backdrop" for="modal-toggle"></label>
            <div class="modal-content">
              <label class="modal-close" for="modal-toggle">&#x2715;</label>
              <li class="teamcard-list-item">
                <img
                  src="./images/photo/Irina.jpg"
                  alt="teammate photo"
                  class="team-card-list-img"
                />
                <p class="team-discription">Developer</p>
                <a class="team-contact" href="mailto:samarinairina20171@gmail.com">
                  samarinairina20171@gmail.com</a
                >
              </li>
              <label class="modal-content-btn" for="modal-toggle">OK</label>
            </div>
          </div>
        </ul>
      </li>
    </ul>
  </div>
</div>
